.OverviewTitle{
    width: 100%;
    height: 100%;
    overflow: hidden; /* Скрывает текст, который не помещается внутри элемента */
    white-space: normal; /* Разрешает перенос текста на новую строку, если это возможно */
    overflow-wrap: break-word; /* Позволяет тексту переноситься на новую строку, если он не помещается в доступной ширине */
    text-overflow: ellipsis;

}
